body {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease;
}

body.dark {
  background-color: #333333;
  color: goldenrod;
}
.darkMode {
  position: fixed;
  bottom: 120px;
  right: 20px;

  button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}
